.container {
  .header {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      color: #c47f17;
      margin: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 2rem;

    .infos {
      width: 500px;
      height: 300px;
      border-radius: 6px 36px;
      border: 1px solid #c47f17;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      padding: 1rem;
      box-sizing: border-box;
      gap: 20px;
      display: flex;
      flex-direction: column;

      .block {
        display: flex;
        flex-direction: column;
        margin-block: 0.5rem;
      }
    }

    .image {
      width: 500px;
      height: 300px;
    }
  }
}
