.counter {
  display: flex;
  gap: 8px;
  background-color: #e6e5e5;
  border-radius: 6px;
  align-items: center;

  span {
    font-weight: bold;
    font-size: 16px;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 23px;
    color: #4b2995;
    border-radius: 8px;
  }
}
