.coffeeListItem {
  display: flex;
  flex-direction: row;
  padding-block: 1rem;
  border-bottom: 1px solid #e6e5e5;

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;

    .itemTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }

    .itemActions {
      display: flex;
      flex-direction: row;

      .removeButton {
        background: #e6e5e5;
        border: none;
        padding-inline: 8px;
        border-radius: 6px;
        margin-left: 1rem;
        align-items: center;
        display: flex;

        svg {
          margin-right: 0.5rem;
          path {
            fill: #8047f8;
          }
        }
      }
    }
  }
}
