.homepage {
  display: flex;
  flex-direction: column;

  .initial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .text {
      h1 {
        font-size: 38px;
      }

      span {
        font-size: 20px;
      }
    }

    .details {
      display: grid;
      grid-template-columns: 300px 300px;
      gap: 27px;
      margin-top: 27px;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        svg {
          display: flex;
          padding: 8px;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
        }

        p {
          margin-left: 20px;
          margin: 0;
        }
      }
    }
  }

  .catalog {
    .coffelist {
      flex-wrap: wrap;
      display: flex;
      gap: 1rem;
    }
  }
}
